@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0px;
    outline: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
}

body {
    background-color: rgb(17, 0, 0);
    font-size: 20px;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fad1bf;
}

.heading {
    position: relative;
    text-align: center;
    font-size: 180px;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.container {
    position: relative;
    display: block;
    text-align: center;
}

.link {
    font-size: 30px;
    text-decoration-line: none;
    color: rgb(17, 0, 0);
}

.link-container {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 15px 70px;
    margin-left: 30px;
    color: rgb(17, 0, 0);
    border-radius: 30px;
    background-color: #fad1bf;
    box-shadow: 0 0 10px rgba(250, 209, 191, 0.8);
}

.link-container:hover {
    background-color: #ffe8e0;
    border-color: #ffe8e0;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(250, 209, 191, 0.8);
}